.hunter-info-container {
  background: linear-gradient(to right, #daecff, #cff0ff, #c4f4ff, #bcf8fa, #bbfbef);
  background-size: cover;
  padding-bottom: 0;
}
.username-lg-text {
  font-size: 28px;
  line-height: 36px;
}
.number-count-text {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 8px;
}
.caption-text {
  font-size: 16px;
  line-height: 24px;
}
.font-weight-600 {
  font-weight: 600 !important;
}
