.font-family-proxima {
  font-family: 'Proxima Nova';
}
.font-family-poppins {
  font-family: 'Poppins';
}
.card-title-text {
  font-size: 16px;
  line-height: 24px;
}
.card-big-title-text {
  font-size: 20px;
  line-height: 24px;
}
.background-blue-diversity {
  background-color: var(--v-bluePrimary-base) !important;
}
.background-neutral {
  background-color: var(--v-neutral20-base) !important;
}
.section-big-title-text {
  font-size: 24px;
  line-height: 36px;
}
.custom-dash-divider {
  border-top: 1px dashed var(--v-neutral20-base);
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.card-text {
  font-size: 9px;
}
.line-height-6 {
  line-height: 24px;
}
.line-height-3 {
  line-height: 12px;
}
.font-weight-600 {
  font-weight: 600;
}
